.product--detail {
  padding: 0 12px;
}

.product--detail > .breadcrumb {
  background: #f5f6f9;
  border-radius: 10px;
  padding: 2px 7px 2px 11px;
  margin-bottom: 14px;
}

.product--detail > .breadcrumb a {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #5d5d5d;
}

.product--detail > .thumbnail .main-image iframe {
  display: none;
  width: 100%;
  height: 406px;
}

.product--detail > .thumbnail .small-images-container {
    overflow: auto;
    scroll-behavior: smooth;
}

.product--detail > .thumbnail .carousel-arrows img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.product--detail > .thumbnail .carousel-arrows .small-arr-right {
    right: 0;
}

.product--detail > .thumbnail .small-images-container .small-images {
    display: flex;
    margin-top: 5px;
    width: 450px;
    cursor: pointer;
}

.product--detail > .thumbnail .small-images-container .small-images .img:not(:last-child) {
    margin-right: 5px;
}

.product--detail > .thumbnail .small-images-container .small-images .img {
    width: 72px;
    height: 72px;
}

.product--detail > .thumbnail img {
    border-radius: 5px;
}

.product--detail > .thumbnail .small-images-container .small-images .img.active {
  position: relative;
}

.product--detail > .thumbnail .small-images-container .small-images .img.active::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.product--detail > .thumbnail #img-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14;
}